canvas {
    position: absolute;
    top: 0px;
    left: 0px;
    background: transparent;
}
#background {
    z-index: -2;
    background-color: #484848;
}
#main {
    cursor: none;
    z-index: 1;
}
#ship {
    z-index: 0;
}
.score {
    position: absolute;
    top: 5px;
    color: #FF7F00;
    font-family: Helvetica, sans-serif;
    cursor: default;
}

